@import url('fonts.css');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    font-family: 'SF Pro Text', 'Helvetica', sans-serif;
    line-height: 1.5;
    --blue: #06c;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--blue);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.55rem;
    line-height: 1.5;
}

.heading {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    margin-top: 0;
}

.description {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: 0.016em;
    margin-top: 4px;
}

.l-heading {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    margin-top: 52px;
}

.container {
    margin: auto;
    padding: 0 2rem;
}

/* Nav */
.nav {
    background: #333;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 48px;
    max-height: 48px;
}

.nav .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

/* Red cross section */
.red__cross .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.red__cross a {
    margin-left: 15px;
}

/* Showcase 11 pro */
.showcase__11__pro {
    position: relative;
    color: #fff;
    padding: 2rem;
    height: 560px;
}

.showcase__11__pro:before {
    background: url(../img/iphone-11-black.jpg) no-repeat center center / cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 624px;
}

.showcase__11__pro .container {
    display: grid;
    grid-template-columns: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase__11__pro .content__wrapper {
    z-index: 1;
}

/* Showcase 11 */
.showcase__11 {
    position: relative;
    color: #333;
    padding: 2rem;
    height: 560px;
}

.showcase__11:before {
    background: url(../img/iphone-11.jpg) no-repeat center center / cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 624px;
}

.showcase__11 .container {
    display: grid;
    grid-template-columns: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase__11 .content__wrapper {
    z-index: 1;
}

/* Showcase watch */
.showcase__watch {
    position: relative;
    color: #333;
    padding: 2rem;
    height: 560px;
}

.showcase__watch:before {
    background: url(../img/apple-watch.jpg) no-repeat center center / cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 624px;
}

.showcase__watch .container {
    display: grid;
    grid-template-columns: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase__watch .content__wrapper {
    z-index: 1;
}

/* Items grid */

.items__grid .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item__grid {
    text-align: center;
    height: 80vh;
    background-color: #fafafa;
    padding-top: 6rem;
}

.items__grid .item__watch {
    background: url(../img/watch-brace.jpg) no-repeat center center / cover;
    height: 580px;
    width: 100%;
}

.items__grid .item__studio {
    background: url(../img/apple-tv.jpg) no-repeat center center / cover;
    height: 580px;
    width: 100%;
    color: #fff;
}

.items__grid .item__album {
    background: url(../img/sky.jpg) no-repeat center center / cover;
    height: 580px;
    width: 100%;
    color: #fff;
}
.items__grid .item__airpods {
    background: url(../img/airpods.jpg) no-repeat center bottom;
    height: 580px;
    width: 100%;
}

.items__grid .item__night {
    background: url(../img/ipad.jpg) no-repeat center center / cover;
    height: 580px;
    width: 100%;
}

.items__grid .item__ipad {
    background: url(../img/apple-card.jpg) no-repeat center center / cover;
    height: 580px;
    width: 100%;
}

/* footer */
.footer {
    background: #f5f5f7;
    color: #86868b;
    font-size: 12px;
}

.footer .container {
    width: 65%;
    padding: 1rem;
    margin: 0 auto;
}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}

.footer__menu .menu__item h2 {
    font-size: 12px;
}

.footer__menu ul {
    padding-left: 0;
}

.footer__menu .menu__item a {
    color: #868688;
}
.footer__menu .menu__item a:hover {
    text-decoration: underline;
}

.footer__menu-secondary {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: start;
}

.footer__menu-secondary ul {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
